.AboutPageHeader {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
}

.AboutPageNavbar {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.content-email {
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-sendemail {
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.submit-button {
  background-color: black;
  color: white;
  transition: all 0.3s;
  width: 150px;
  height: 50px;
  font-weight: bold;
}
.submit-button:hover {
  opacity: 0.7;
}

.box-sendemail > textarea {
  height: 100px;
}

.inp {
  background-color: #fafafa;
  color: black;
}
.box-sendemail > label {
  color: #949494;
}
.box-sendemail > h2 {
  font-weight: lighter;
  color: #949494;
}
.content-about {
  margin-bottom: 50px;
  color: #949494;
}
.logo {
  width: 150px;
  color: black;
  margin-top: 10px;
}
.hamburger {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 60px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: white;
  border-radius: 5px;
  padding: 15px 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AboutPageNavbar {
    display: none;
  }
  .box-sendemail {
    width: 80%;
  }
  .logo {
    width: 100px;
    margin-left: 20px;
  }
  .navbar-mini {
    margin-right: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .AboutPageNavbar {
    display: none;
  }
  .logo {
    width: 120px;
    margin-left: 20px;
  }
  .navbar-mini {
    margin-right: 20px;
  }
  .box-sendemail {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .AboutPageNavbar {
    display: flex;
  }
  .navbar-mini {
    display: none;
  }
}
