#addpicture {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#editpicture {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#deletepicture {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.list-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
