.GalleryPageShowProject {
  display: grid;
  grid-template: repeat(3, auto 1fr) / repeat(3, 1fr);
  gap: 10px 10px;
}

.GalleryProjectItem {
  position: relative;
  transition: all 1s;
  width: 33vw;
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}

.GalleryPageHeader {
  height: 10vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
}

.GalleryProjectItem:hover {
  opacity: 0;
}

.Galleryprojectname {
  display: block;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-decoration: none;
  font-size: 26px;
  color: white;
  padding: 20px;
  margin: 0px;
}

.GalleryPageNavbar {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.gallery-show-project {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AboutPageNavbar {
    display: none;
  }
  .logo {
    width: 100px;
    margin-left: 20px;
  }
  .navbar-mini {
    margin-right: 20px;
  }
  .GalleryPageShowProject {
    grid-template: repeat(1, auto 1fr) / repeat(1, 1fr);
    gap: 10px 10px;
  }
  .GalleryProjectItem {
    width: 100vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .AboutPageNavbar {
    display: none;
  }
  .logo {
    width: 120px;
    margin-left: 20px;
  }
  .navbar-mini {
    margin-right: 20px;
  }
  .GalleryPageShowProject {
    grid-template: repeat(2, auto 1fr) / repeat(2, 1fr);
    gap: 10px 10px;
  }
  .GalleryProjectItem {
    width: 49vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .AboutPageNavbar {
    display: flex;
  }
  .navbar-mini {
    display: none;
  }
  .GalleryPageShowProject {
    grid-template: repeat(3, auto 1fr) / repeat(3, 1fr);
    gap: 10px 10px;
  }
  .GalleryProjectItem {
    width: 32vw;
  }
}
