.HomePageHeader {
  height: 10vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.HomePageNavbar {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  width: 200px;
  color: white;
  margin-top: 10px;
}
.hamburger {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 60px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: white;
  border-radius: 5px;
  padding: 15px 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AboutPageNavbar {
    display: none;
  }
  .logo {
    width: 100px;
    margin-left: 20px;
  }
  .navbar-mini {
    margin-right: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .AboutPageNavbar {
    display: none;
  }
  .logo {
    width: 120px;
    margin-left: 20px;
  }
  .navbar-mini {
    margin-right: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .AboutPageNavbar {
    display: flex;
  }
  .navbar-mini {
    display: none;
  }
}
