.data-picture {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.mota1 {
  color: white;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 10px;
}
.mota2 {
  color: white;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
  font-style: italic;
}
.mota3 {
  color: white;
  line-height: 20px;
}
